<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2022

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method="POST"> <!--form action leads to authenticate page-->
      Username: <input type="text" name="username" value="enter a username"> <br>
      Password: <input type="text" name="password" value="enter a password"> <br>
      <input type="submit" name="sub1">
    </form>

    <form action="/create_acc">
      <input type="submit" value="new_acc">
    </form>
    <br>
  </body>

</html>
