<!--
Chatting Chickens | Faiza H. Vivian G. K. Xiao
SoftDev
K14 -- Serving Looks
2022-10-19
time spent: 0.2 hrs
 -->

 <!DOCTYPE html>
 <html>
 <head>
   <link rel="stylesheet"
         type="text/css"
         href="../static/style.css">
 </head>
 
 <body>
   <h1> h1 foo </h1>
   <table cellspacing="0" cellpadding="0">
     <tr>
       <td id="nav">
         <h3> who is da coolest </h3>
         <ul>
           <li> me </li>
           <li> me </li>
           <li> still me </li>
         </ul>
       </td>
       <td>
         <h2> main foo heading </h2>
         <p> Ay Ay Antipholus Look Strange and Frown Some other mistress hath thy sweet
            aspects I am not Adriana nor thy Wife The time was whence that thou unurged
            wouldst vow That never words music to thine ear That never object pleasing
            to thine eye That never touch well-welcomed in thy hand That never meat 
            sweet-savoured in thy taste Unless I spake or look'd or touch'd or carv'd to
            thee How comes it now my Husband O how comes it That thou art then estranged
            from thyself "Thyself" I call it being strange to me That undividable incorporate
            am better than thy dear selves better part Ah do not tear thyself from me For know
            my love as easily mayst thou fall A drop of water in the breaking gulf And take 
            unmingled thence that drop again Without addition or diminishing as take from me 
            thyself and not me too How dearly would it touch thee to the quick Shouldst thou
            but hear I were licentious That this body consecrate to thee by ruffian lust should
            be contaminate Wouldst thou not spit at me and spurn at me And hurl the name of 
            husband in my face And tear the stained skin off my harlot brow And from my false 
            hand cut the wedding ring And break it with a deep divorcing vow I know thou canst
            and therefore see tho do it I am possed with an adulterate blot My blood mingled 
            with the crime of lust For if we two be one and thou playst false I do digest the 
            poison of thy flesh Being strumpeted by thy contagion Keep then fair league and truce
            with thy true bed I live distained thou undishonoured
         </p>
       </td>
     </tr>
   </table>
 
   <p id="copyright">
     Copyright © 2022 Chatting Chickens
   </p>
 
 </body>
 
 </html>