<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    TEAM APPLECAR: Abid Talukder and Faiza Huda and Ben 10 and Truthful Tom
    <br>
    SoftDev
    <br>
    K20: A RESTful Journey Skyward
    <br>
    2022-11-21
    <br>
    <div style="display: flex; justify-content: center;">
        <h1>
            {{title}}
        </h1>
        
    </div>
    
    
    <div style="display: flex; justify-content: center;">
        <img src="{{i}}" alt="JSON IMAGE" >
    </div>
    
    <h3>
        {{description}}
    </h3>
    
    
</body>
</html>
